table,
td {
  margin: auto;
  border: 2px solid #eb5656;
  border-collapse: collapse;
}

td {
  font-size: 32px;
  text-align: center;
  transition: linear .5s;
}

table {
  height: 150px;
  width: 560px;
}
